<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" , href="/css/style.css">
    <link rel="icon" , href="/img/cloud.png" />
    <title>Weather Watcher</title>
</head>

<body>
    {{>header}}
    <div class="content-wrapper flex-hor">
        <img class="img200 left" src="./img/hiking_sm_04.jpg" />
        <div>
            <p>This is a simple weather forecast app built in Node.js, which consumes the DarkSky and MapBox APIs.</p>
            <p>By inserting a location in the search bar, it will retrieve the latitude/longitude coordinates
                using MapBox, and then use these to return a simple weather forecast for the required location,
                provided by DarkSky. </p>
            <p>This is a test project I made to learn Node.js - sooner or later I might even provide a proper,
                decent-looking front-end :)</p>
        </div>
    </div>

    {{>footer}}

    <script src="/js/app.js"></script>
</body>

</html>