<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" , href="/css/style.css">
</head>

<body>
    <h1>{{title}}</h1>
    <h2>Made by {{name}}</h2>

    <img class="img200" src="./img/lighthouse.jpg" />



    <script src="/js/app.js"></script>
</body>

</html>