body {
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #EFF0EB;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    background-color: #232F31;
    color: #EFF0EB;
    margin: 0;
    padding: 30px;
    text-align: center;
}

.title-icon {    
    /* border: 1px solid green; */
    display: inline-block;
    height: 1.2em;
}

.title-icon img {
    height: 100%;
    object-fit: contain;
}


.content-wrapper {
    margin: 30px 0;
    padding: 5vh 10vw;
    flex-grow: 1;
}

.flex-hor {
    display: flex;   
}

.space-between{
    justify-content: space-between;
}




/* NAVBAR AND FOOTER*/
.navbar ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #5C809A ;
    border-bottom: 1px solid #809DA7;
    border-top: 1px solid #809DA7;
}

.navbar li {
    border-right: 1px solid #EFF0EB;
}

.navbar a{
    color: #EFF0EB;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

.navbar a:hover {
    background-color: #809DA7;
}

.footer {
    background-color: #232F31;
    color: #EFF0EB;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #809DA7;
}


.img200 {
    max-height: 40vh;
    margin-left: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} 

.left {
    margin: 0 50px 0 0 ;
}


/* FORM AND WEATHER DISPLAY */

input {
    border: 1px solid #809DA7;
    border: 1px solid rgba(239, 240, 235, 0.55);
    background-color: #5C809A ;
    color: #EFF0EB;
    padding: 5px 10px;
    margin: 10px;
    margin-left: 0;
    border-radius: 2px;
}

input::placeholder {
    color: #809DA7;
    color: rgba(239, 240, 235, 0.55);
}

form button {
    border: 1px solid #5C809A;
    color: #EFF0EB;
    background-color: #232F31;
    padding: 5px 10px;
    margin: 10px;
    border-radius: 2px;
    cursor: pointer;
}

#msg1 {
    font-size: large;
    font-weight: bold;
    color: #5C809A;
}

#msg2 {
    color: #232F31;
}